.admin-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  height: 50%;
  width: 100%;  
  margin-top: 073px;
  margin-bottom: 0px;
}
.admin-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0px; /* Espacio entre filas*/
}

.admin-column {
  flex-grow: 1; /* Las columnas pueden crecer para ocupar el espacio disponible */
  flex-shrink: 1; /* Las columnas pueden contraerse si hay menos espacio disponible*/
  flex-basis: 0; /* Establece el tamaño inicial de la columna a cero */
  display: flex;
  flex-direction: column;
 
  width: 100%;
}

.admin-section { 
  width: 100%;
  min-width: 950px;
  height: 410px;/* Establece una altura fija para los marketing-section */

  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}

.admin-section h2 {  
  color: #fff;
  text-shadow: 5px 5px 5px rgb(3, 3, 3);
  margin-top: 0;
  font-size: 3vw;
  font-weight: bold;
  position: relative; /* Asegura que el título esté por encima del hover */
  z-index: 2; /* Asegura que el título esté por encima del hover */
}

.admin-section.active {
  transition: background-color 0.9s ease;
  
}

.admin-section.active.title {
  font-size: 40px;
  font-weight: bold;
}
.admin-section:hover {
  background-size: 120%; /* Aumenta el tamaño de la imagen de fondo en un 5% al pasar el cursor*/
  /* transform: scale(1); */
}

.title-wrapper {
  position: relative;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Ajusta la altura del contenedor */
  /* z-index:1; */
  width: 100%; /* Ajusta el ancho al 80% del contenedor */
  margin: auto; /* Aplica un margen alrededor del wrapper */
  top: 50%;
  transform: translateY(-50%);
}

.title {
  color: rgb(46, 37, 37);
}

.title-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* width:0%;
        height: 0%; */
  /* background-color: transparent; */
  /* transition: background-color 0.3s ease; */
  z-index: -1;
}

.title-wrapper:hover::before {
  background-color: rgb(
    185,
    66,
    66
  ); /* Cambia el color y la opacidad al pasar el cursor */
}

.title-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color verde con poca transparencia */
  opacity: 0; /* Inicialmente transparente */
  transition: opacity 0.7s ease; /* Transición suave */
}

.title-wrapper:hover::after {
  opacity: 20;
  color: aliceblue; /* Mostrar el color al pasar el cursor sobre el título */
}
.options {
  position: absolute;
  display: flex;  
  justify-content:space-between; 
  align-items: center;
  top: calc(5% + 2.3vw);
  width:80%;
  height: 50%;
  background-color: rgba( 44,99,103,0.9);
  font-size: 1.2vw;
  border-radius: 65px;
  padding: 2vw;
  box-shadow: 0 4px 8vw rgba(48, 44, 44, 0.978);
  z-index: 1;
  text-shadow: 5px 5px 5px rgb(3, 3, 3);
  margin-left: 3vw;

}

.options a {  
  color: #fef7f7;
  margin-left: 2vw;

  border-radius: 20%;
  padding: 5.5%;
  margin: 0.5vw;

}

.options a:hover {
 font-weight: bold;
 }