.fourSections-containerAdmin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  height: 50%;
  width: 100%;  
  margin-top: 4rem;
  margin-bottom: 0px;
}
.options {
  position: absolute;
  display: flex;  
  justify-content:space-between; 
  align-items: center;
  top: calc(5% + 2.3vw);
  width:80%;
  height: 50%;
  background-color: rgba( 44,99,103,0.9);
  border-radius: 65px;
  padding: 2vw;
  box-shadow: 0 4px 8vw rgba(48, 44, 44, 0.978);
  z-index: 1;
  text-shadow: 5px 5px 5px rgb(3, 3, 3);
  margin-left: 3vw;

}

.options a {  
  color: #fef7f7;
  margin-left: 2vw;
  border-radius: 20%;
  padding: 5.5%;
  margin: 0.5vw;
  font-size:1.5vw;
}

.options a:hover {
 font-weight: bold;
 }