html, body {
  margin: 0;
  padding: 0;
  font-family: Calibri;  
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

h2 {  
  color: #fff;
  text-shadow: 5px 5px 5px rgb(3, 3, 3);
  margin-top: 0;
  font-size: 2rem;
  font-weight:bolder;
  position: relative; 
  z-index: 2;   
}
label,th {
  font-size: 1rem;
  text-shadow: 5px 5px 5px rgb(5, 5, 5);
  width: auto;
  color: white;
  padding-bottom: 1rem;
}
input,
select {
  width: 20rem;
  min-width: 14rem;
  padding: .7rem;
  border-radius: 10px;
  @media screen and (max-width: 768px) {
 margin:.5rem;   
    height: auto;  
    gap: 0;
    width: 3rem;
    @media screen and (max-width: 320px) {
      margin:.5rem;
      width: 100%;
      height: auto;
      width: 3rem;
    }
  }
}
input[type="checkbox"] {
  width: 5rem;
  height: 2rem;
}
h3 {  
  color: #fff;
  text-shadow: 5px 5px 5px rgb(3, 3, 3);
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative; 
  z-index: 2;   
}
.btn-container{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
h4 {  
  color: #fff;
  text-shadow: 5px 5px 5px rgb(3, 3);
  font-size: 1.1rem;
  font-weight:normal;
margin: 0.2rem;
  
}
.options {
  position: absolute;
  display: flex;  
  justify-content:space-between; 
  align-items: center;
  top: calc(5% + 2.3vw);
  width:80%;
  height: 50%;
  background-color: transparent;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 65px;
  padding: 2vw;
  box-shadow: 0 4px 8vw rgba(48, 44, 44, 0.978);
  z-index: 1;
  text-shadow: 5px 5px 5px rgb(3, 3, 3);
  margin-left: 3vw;

}
li {
  list-style: none;
  padding-right: 5rem;
  font-size: 2rem;
  @media screen and (max-width: 768px) {
    width: 100px;
    padding:0;
 
    @media screen and (max-width: 320px) {
      width: 50px;  
    }
  }
}