
  .checkCoverages{
    display: block;
  flex-direction: column;
  
  }
  
 
  
  .tableContainerCoverage {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    overflow-y: auto;
  }