.createForm-Schedule{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.2);
    height: 30rem;
    width: 50rem;
    border-radius: 10px;
 
}
.btnCreateSchedule{
  font-size: 2rem; 
  cursor: pointer;
  color: white; 
  text-shadow: 5px 5px 5px rgb(5, 5, 8);
width: 50rem;
text-align: center;
background-color: transparent;
  backdrop-filter: blur(15px);
  background-color: rgba(64,224,208);
  border-radius: 10px;
  padding-top: .5rem;
}
.selected {
  background-color: #90ee90 !important;
}
.inputContainerSchedule{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
