.footer {
  display: flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items: center;
  background-color: white;
  padding: 10px;
  width:100vw;
  height: 30vh;
  position: relative;
  bottom: 0;
  max-width: 1652px;

}

.social-icon {
  display: flex;
  justify-content: center;
  margin-left:4vw;
  color: black;
  font-size: 2vw;
}

.footer-text {
  color: black;
  font-size: 1vw;
width:5vw;
margin-left: 20vw;
}

.qr {
  width: 10vw;
  height: 20vh;
 margin-left: 25vw;
}
