.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 1440px;
  height:200px;
  bottom: 0;
  max-width: 1440px;
  @media screen and (max-width: 768px) {
    margin:.5rem;   
       height: auto;  
       gap: 0;
       width: 100%;
       flex-direction: column;
       justify-content: center;
       @media screen and (max-width: 320px) {
         margin:.5rem;
         width: 100%;
         height: auto;
         width: 3rem;
        padding-left: 6rem;
       }
     }
}

.social-icon {
  display: flex;
  justify-content: center;
  width: 10rem;
  color: black;
  font-size: 1.5rem;
}

.footer-text {
  color: black;
  font-size: 1rem;
  width: 10rem;
  @media screen and (max-width: 768px) {
    margin:.5rem;   
       height: auto;  
       gap: 0;
       width: 10rem;
       @media screen and (max-width: 320px) {
         margin:.5rem;
         width: 10rem;
         height: auto;
         justify-content: center;
       }
     }
}

.qr {
  width: 10rem;
  height: auto;
  @media screen and (max-width: 768px) {
    margin:.5rem;   
       height: auto;  
       gap: 0;
       width: 7rem;
       @media screen and (max-width: 320px) {
         margin:.5rem;
         width: 3rem;
         height: auto;
       
       }
     }
}
