
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 100px;
  position: relative; 
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;  
  cursor: pointer;
}


select option {
  padding: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos para los mensajes de error y éxito */
.error-message,
.success-message {
  position: absolute;
  width: calc(100% - 40px); /* Ancho del formulario menos el padding */
  padding: 10px;
  border-radius: 5px;
  left: 0;
  background-color: #515851;
}

.error-message {
  background-color: #80da1a; /* Color de fondo para errores */
  color: #cc0000; /* Color de texto para errores */

}

.success-message {
  background-color: #ccffcc; /* Color de fondo para éxito */
  color: #009900; /* Color de texto para éxito */
}
