.barra-superior-contacto {
  position: relative;
  display: flex;
  background-color: rgba(46,42,51,0.959); 
  padding: 12px;
  height:3vw;
  margin-top: 3.8vw;
} 
.titulo-seccion-contacto{
  color: white;
}   
.form-overlay {
  position: relative;
  margin: 0;
  width: 100vw;
  height:83vh; 
  background-image: url("../assets/Consultorio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#consulta {
  width: 28.5vw;
  height: 150px;
 
}
input#nombre{
  width: 28.5vw;
  
} input#email{
  width: 28.5vw;
}

.form-container {
  position: relative;
margin-left: -18vw;
  font-weight: bold;
  width: 25vw;
  height: 500px;
}

#btnSubContact {
   background-position: center;
  padding: 10px;
  border-radius: 6px;
  margin-top: 20px;
  color: white;
}
button {
  border: none;
  padding: auto;
  font-size: 1.4em;
  font-weight: 500;
  cursor: pointer;

}
button:hover {
  color: #efeee9;
  transform: scale(1.2);

} 
.close-button {
  position: absolute;
  margin-top: 0;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(23, 60, 62);
  font-weight: bold;
}
#FormSucces{
  background-color: whitesmoke ;
  color: rgb(44, 99, 103);
  align-self: center;
  margin-top: 100px;
  padding:20px 80px;
  align-content: center;
  border: solid rgb(44, 99, 103) 2px;
}
.error-label {
  
  color: brown;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}
