
.barra-superior-prof {
  display: flex;
  background-color: rgba(46,42,51,0.959); 
  padding:5px;
  height:5vw;
  margin-top: 3.8vw;
  text-align:left;

  text-shadow: 5px 5px 5px rgb(5, 5, 8);
}
h1#titulo-section{
  margin-top: 150vh;
}

.formProfesionals-container{
  background-image: url("https://media.istockphoto.com/id/872676342/es/foto/concepto-de-tecnolog%C3%ADa-m%C3%A9dica-registro-m%C3%A9dico-electr%C3%B3nico.jpg?s=612x612&w=0&k=20&c=_Zg00u1zKtFAeH2EiNaA8htvx8yDFsq568pMl3wpyC0=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80.3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
form {
  width: 30vw; 
  height: 60vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top:50vw;
  position: relative; 
  background-color:rgba(44, 99, 103, 0.8) ;
}
/* input[type="text"],
input[type="email"],
input[type="tel"] {
 
  padding:30vw;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
} */
label{
  color: white;
  font-size: 1.2vw;
}
.inputProf{
  max-width:25vw;
margin:1vw;
 background-color: white;
}
select {
  width: 25vw;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;  
  cursor: pointer;
}


button[type="submit"] {
  width: 100%;
  padding: 10px;
   color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #1a1b1c;
}

/* Estilos para los mensajes de error y éxito */
.error-message,
.success-message {
  position: absolute;
  width: calc(100% - 40px); /* Ancho del formulario menos el padding */
  padding: 10px;
  border-radius: 5px;
  left: 0;
  background-color: #515851;
}

.error-message {
  background-color: #80da1a; /* Color de fondo para errores */
  color: #cc0000; /* Color de texto para errores */

}

.success-message {
  background-color: #ccffcc; /* Color de fondo para éxito */
  color: #009900; /* Color de texto para éxito */
}
