html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  margin-top: 5%;
  position: relative;
  display: flex;
  place-items: center;
  align-items: center;
  height: 100vh; 
  width: 100%;
  background-image: url("https://media.istockphoto.com/id/1343098418/es/foto/examen-m%C3%A9dico-y-negocio-de-seguros-de-salud-a-trav%C3%A9s-de-la-tecnolog%C3%ADa-de-interfaz-virtual.jpg?s=612x612&w=0&k=20&c=D4gW3RcySVx-8ZkZUCfXOvgmV6Umso1r7A6hjQ2tSVQ=");
  background-size: cover;
  background-position: center;
  overflow: hidden; /* Evitar el desbordamiento */
  margin: 0;
}

.tittleHome {
  position: absolute;
  top: 25vh; /* Centrar verticalmente */
  left: 14vw; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Corregir el centro */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vw; /* Usar unidades relativas */
  color: rgb(245, 249, 249);
  text-shadow: 5px 5px 5px rgb(3, 3, 3);
  animation: h1blue 3s 1 forwards; /* Ejecutar la animación solo una vez */
}
.pHome {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2vw; /* Usar unidades relativas */
  font-weight: bolder;
  margin-top: 40vh;
  color: white;
}

@keyframes h1blue {
  0% {
    color: rgb(245, 249, 249);
    transform: scale(1);
  }
  50% {
    color: rgb(247, 248, 247);
    transform: scale(1.1);
  }
  100% {
    color: rgb(245, 249, 249);
    transform: scale(1);
  }
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10vw; /* Usar unidades relativas para responsividad */
  max-width: 150px; /* Limitar el tamaño máximo */
  height: auto;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 5vw;
  }
  .pHome {
    font-size: 2.5vw;
  }
  .logo {
    width: 12vw;
    max-width: 120px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 6vw;
    margin-left: 25%;
  }
  .pHome {
    font-size: 3vw;
  }
  .logo {
    width: 15vw;
    max-width: 100px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 8vw;
    margin-left: 20%;
  }
  .pHome {
    font-size: 4vw;
    margin-top: 50vh;
  }
  .logo {
    width: 20vw;
    max-width: 80px;
  }
}
