.tableContainer {
  background-color: rgba(44, 99, 103, 0.8);
  
}
table {
  width:100%;
  border-collapse: collapse;
  box-shadow: 5px 5px 5px rgb(5, 5, 8);
  margin-left: 10rem;
  display: inline-block;

}

table th,
table td {
  padding: 1rem;
  text-align: left;
  color: white;
  font-size: 1.1rem;
 
}

table th {
  background-color: rgba(56, 58, 58, 0.9);
  font-size: 1.2rem;
}

table tr:nth-child(even) {
  background-color: rgba(90, 89, 95, 0.859);
}

table tr:nth-child(odd) {
  background-color: rgba(90, 89, 95, 0.959);
}

table tr.deleted-doctor {
  text-decoration: line-through;
  color: gray;
}

/* React-modal {
    width: 20vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #df23cf;
    border-radius: 5px;
    background-color: #c23e3e;
    position: relative;
    top: 20vw;
  } 
  
    .overlay {
    background-color: rgba(126, 12, 12, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
   
   
  
   */
