nav {
  background-color: rgba(44, 99, 103, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.nav-logo {
  margin-left: 20px;
}

img {
  height: 4.1vw;
}

ul.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 20px;

}

ul.nav-links li {
  padding: 0 10px;
}

ul.nav-links li:hover {
  transform: scale(1.1);
}

a {
  font-size: 1.5vw;
  text-decoration: none;
  color: white;
  text-shadow: 5px 5px 5px rgb(5, 5, 5);
  font-weight: inherit;

}

li#NombreUser {
  font-size: 1.5vw;
  color: white;
margin-right: 70vw;
}
