.span-continue-container {
  display: inline-block; 
  width: 100%;
  margin: 0;
  padding: 0;
}
.button-span-continue.span-continue-button {
  background: none;
  border: none;
  padding: 0; 
  font-size: 2vw; 
  font-weight: bold;
  cursor: pointer;
  color: white; 
  text-shadow: 5px 5px 5px rgb(5, 5, 8);
}


.button-span-continue.span-continue-button:hover {
  color: white; 
  transform: scale(1.1); 
}
