.edit-button,
.delete-button {
  color: white;
  padding: 0.5rem;
  font-size: medium;
  border-radius: 8px;
  padding: 1rem;
  width: auto;
  text-shadow: 5px 5px 5px rgb(5, 5, 8);
  border: hidden;
  cursor: pointer;
}
.edit-button {
  background-color: #5ba848;
}
.delete-button {
  background-color: #d8763d;
}
