
  .succes-message{
    text-align: center;
    font-size: 2rem;
  
    position: absolute;    
    width: 80%;
    height: 3rem;
    border-radius: 8px;
 
    color: white;
    background-color: #3fec96;
    
  }
  
  
  .error-message {
    text-align: center;
    font-size: 10rem;

    position: absolute;    
    width: 80%;
    height: 3rem;
 
   
    color: white;
    background-color: #f537ac;

  }