.options {
    position: absolute;
    display: flex; 
 flex-wrap: nowrap;
 align-content: center;
    justify-content:space-evenly; 
    align-items: center;
    top: calc(10% + 15px);
    left:calc(4% + 10px);
    width:90%;
    height: 70%;
    background-color: transparent;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
   padding: .5rem;
    box-shadow: 0 4px 8vw rgba(48, 44, 44, 0.978);
    z-index: 1;
    text-shadow: 5px 5px 5px rgb(3, 3, 3);
  
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:100%;    
   height: auto;
   @media screen and (max-width: 320px) {
    display: flex;
    flex-direction: column;
   
     width:100%;    
     height: auto;
  padding-bottom: 1rem;
  margin: 0;
   }
  }
  }